<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Greg's Pokemon Mapper</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{% static "SpawnCollector/css/bootstrap.min.css"%}" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .checkImage{
            position: relative;
            width: 100px;
            height: 100px;
            float:left;
            margin-top:10px;
        }
        .checkbox{
            position: relative;
            bottom:0px;
            right:0px;
        }
    </style>
</head>
<body>


    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6 offset-sm-3 ">
                    <h1 class="text-center">
                        Signup for the Pokemon Email Notification Integrated System or P.E.N.I.S.
                    </h1>
                    Email: <br />
                    <input type="text" name="email" /><br />
                    Location: <br />
                    <input type="text" name="location" /><br />
                    Radius: <br />
                    <input type="number" step="any" name="radius" /><br />
                    <input type="submit" />
                    Select which pokemon you don't want. By default all of the below will trigger an email:

                </div>
            </div>
            <div class="row">
                <div>

                    {% for poke in pokeList %}
                    <div class="col-sm-3 checkImage">
                        <img src="/static/SpawnCollector/larger-icons/{{poke}}.png" />
                        <input type="checkbox" name="wanted" class="checkbox" value="{{poke}}" id="{{poke}}" checked />
                    </div>
                    {%endfor%}

                </div>
            </div>
        </form>
    </div>

</body>
</html>
