<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Greg's Pokemon Mapper</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>

    <div id="map"></div>
    <script>
        var map;
        var latitude = parseFloat("{{lat}}");
        var longitude = parseFloat("{{long}}");
        var pokemon = {{pokemon|safe}};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: latitude, lng: longitude },
          zoom: 16
        });
        var markers = [];
        for(i = 0; i<pokemon.length; i++){
            poke = pokemon[i];
            image = '/static/SpawnCollector/larger-icons/'+poke['pokeID']+'.png'
            markers.push(new google.maps.Marker({
                position: { lat: poke['lat'], lng: poke['long'] },
                map: map,
                title: poke['pokeName'],
                icon: image
                }))
        }
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAqdtbKNsmdCRIr6CMwGz__ZJ1w1wA8Ek&callback=initMap"
            async defer></script>

</body>
</html>
